body {
  margin: 0;
  background-color: #8f57fd;
  font-family: "Muli", sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #8F57FD;
  justify-content: space-between;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile p {
  margin: 0px;
  color: white;
}

.header__menu {
  margin-right: 20px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px 0px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

/* BUSCADOR */
.main {
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: center;
  flex-direction: column;
}

.main__title {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  /* width: 100%; */
}

.input {
  color: white;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 33px;
  font-family: "Muli", sans-serif;
  padding: 0px 20px;
  height: 61px;
  width: 70%;
  outline: none;
}

::placeholder {
  color: white;
}

/* CARRUSEL */
.carousel {
  /* width: 100%; */
  overflow: scroll;
  padding: 30px;
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  background-color: palevioletred;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.carousel-item__details img {
  height: 15px;
}

.carousel-item__details p {
  margin: 0px;
}

.carousel-item__details:hover {
  opacity: 1;
  color: white;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #8f57fd;
}

.footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
}

.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
